<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>논문 검색</title>
</head>
<body>
<h1>논문 검색</h1>

<form th:action="@{/search}" method="get">
    <label for="title">논문 제목:</label>
    <input type="text" id="title" name="title"><br><br>

    <label for="affiliation">소속:</label>
    <input type="text" id="affiliation" name="affiliation"><br><br>

    <label for="categories">카테고리:</label>
    <input type="text" id="categories" name="categories"><br><br>

    <button type="submit">검색</button>
</form>
</body>
</html>